<%= render partial: 'user', locals: { user: @user } %>

<article class="container">
  <div class="user__bio">
    <h3><%=t('common.bio')%></h3>
    <div>
      <%= @user.bio %>
    </div>
  </div>
</article>

<%= render partial: 'posts/post', collection: User.last_posts(@user), locals: {truncated_message: true, show_lasts_comments: true}%>

<%= link_to user_posts_path(@user.id) do %>
  <button><%=t('.see_all_posts')%></button>
<% end %>
<%= link_to users_path do %>
  <button><%=t('common.go_back')%></button>
<% end %>