<%= link_to user_post_path(post.author, post) do %>
  <article class="container">
    <div class="post__container">
      <h3><%= post.title %></h3>
      <% if local_assigns[:show_all_comments] %>
        <div class="post__counters">
          <%=t('common.comments')%>: <%= post.comments_counter %>, <%=t('common.likes')%>: <%= post.likes_counter %>
        </div>
      <% end %>

      <%= link_to post_likes_path(post), data: {
        turbo_method: :post
      }, class: 'like-button' do %>
        <button> <%= t('.like') %> </button>
      <% end %>

      <div>
        <%= post.text.truncate(20) if truncated_message %>
        <%= post.text unless truncated_message %>
      </div>
      <% if !local_assigns[:show_all_comments] %>
        <div class="post__counters">
          <%=t('common.comments')%>: <%= post.comments_counter %>, <%=t('common.likes')%>: <%= post.likes_counter %>
        </div>
      <% end %>
    </div>
  </article>
<% end %>

<% if local_assigns[:show_all_comments] && post.comments.any? %>
  <div class="container">
    <div><%= render partial: 'shared/comment', collection: post.comments %></div>
  </div>
<% end %>

<% if local_assigns[:show_lasts_comments] && post.last_comments.any? %>
  <div class="container">
    <div><%= render partial: 'shared/comment', collection: post.last_comments %></div>
  </div>
<% end %>


