<%= render partial: 'users/user', locals: { user: @user } %>

<%= render partial: 'post', collection: @posts, locals: {truncated_message: true, show_lasts_comments: true} %>

<button><%=t('common.pagination')%></button>

<%= link_to user_path(@user.id) do %>
  <button><%=t('common.go_back')%></button>
<% end %>