<%= render partial: 'post', locals: {post: @post, truncated_message: false, show_all_comments: true} %>

<%= link_to new_post_comment_path(@post.id) do %>
  <button><%=t('.new_comment')%></button>
<% end %>

<%= link_to user_posts_path(@user.id) do %>
  <button><%=t('common.go_back')%></button>
<% end %>